<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Buster's Best Bowling Alley</h1>
<% wall_posts = ["Tomorrow is my 21st birthday!", "Cant believe im 21 now!, tonight is going to be amazing!", "Well, what a wild night, I only remeber half of it!"] %>
<ul>
 
  <% wall_posts.each do |posts|%>
  <li><%=posts%></li>
    <% end %> 
    
</ul>
<h2>Bet You Can't Bowl A Strike Every Time</h2>
<p>97 Bowling Alley Lane, Boulder CO </p>
</body>
</html>